Sphinx
sphinx-autobuild
sphinx-rtd-theme
recommonmark
sphinxext-remoteliteralinclude
sphinx-copybutton
torch==2.5.1+cpu; platform_machine == "x86_64"
torch==2.5.1; platform_machine == "aarch64"
torch_npu==2.5.1rc1