.. _pytorch_api:

API 文档
====================

PyTorch-NPU 除了提供了 PyTorch 官方算子实现之外，也提供了大量高性能的自定义算子，详细的算子信息以及描述如下所示：

.. note::

   在运行下述示例之前，需要导入torch_npu扩展包 ``import torch_npu``

{% for func_data in npu_functions %}
.. py:function:: torch_npu.{{ func_data.function }}

{% for param in func_data.params %}
{{ param }}

{% endfor %}


{% if func_data.example %}
**示例**

{{ func_data.example}}

{% endif %}
{% endfor %}


