/* make the page 1000px */
.wy-nav-content {
    max-width: 1200px;
 }
 
 /* code block highlight color in rtd changed to lime green, no no no */
 
 .rst-content tt.literal, .rst-content code.literal, .highlight {
    background: #f0f0f0;
 }
 .rst-content tt.literal, .rst-content code.literal {
     color: #000000;
 }
 
 /* Footer privacy links */
 a#wap_dns {
    display: none;
 }
 
 a#wap_nac {
    display: none;
 }
 
 /* replace the copyright to eliminate the copyright symbol enforced by
    the ReadTheDocs theme */
    div[role=contentinfo] {
       visibility: hidden;
       position: absolute;
    }
 /* set color of version navigator to yellow */
 div.version a {
     color: hsla(0,0%,100%,.3);
 }
 div.version p {
     color: #FFFF00;
 }
 
 .menu {
   display: flex;
   flex-wrap: wrap;
   width: 60%;
   margin: auto;
   padding: 10px 24px 24px 24px;
 }
 
 .menu-element {
   flex: 1 1 48%;
   background-color: #F3F4F7;
   color: black;
   text-align: center;
   margin: 2px;
   padding: 10px 24px;
   cursor: pointer;
 }
 
 @media screen and (max-width: 768px) {
   .menu-element {
     width: 100%;
   }
 }
 
 .menu-element:hover {
   background-color: #c41c24;
   color: white;
 }
 
 .menu-element.selected {
   background-color: #c41c24;
   color: white;
 }
 
 
 
 .row {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin: auto;
   padding: 0px 2px;
 }
 
 .row-element-1 {
   flex: 1 1 20%;
   display: block;
   margin-top: auto;
   margin-bottom: auto;
 }
 
 .row-element-2 {
   flex: 1 1 80%;
   margin-top: auto;
   margin-bottom: auto;
 }
 
 .mobile-headings {
   flex: 1 1 auto;
   color: black;
   text-align: left;
   margin: 2px;
   padding: 10px 24px;
   display: none;
 }
 
 .headings-element {
   text-align: left;
   margin: 2px;
   padding: 10px 24px;
 }
 
 .values-element {
   background-color: #F3F4F7;
   color: black;
   text-align: left;
   margin: 2px;
   padding: 10px 24px;
   cursor: pointer;
 }
 
 .block-1 {
   flex: 1 1 100%;
 }
 
 .block-2 {
   flex: 1 1 49%;
 }
 
 .block-3 {
   flex: 1 1 32%;
 }
 
 .block-4 {
   flex: 1 1 24%;
 }
 
 .block-5 {
   flex: 1 1 19%;
 }
 
 @media screen and (max-width: 1050px) {
   .row-element-1 {
     display: none;
   }
 
   .row-element-2 {
     flex: 1 1 100%;
   }
 
   .mobile-headings {
     display: block;
   }
 
   .block-2,.block-3,.block-4,.block-5 {
     flex: 1 1 100%;
   }
 }
 
 .values-element:hover {
   background-color: #c41c24;
   color: white;
 }
 
 .values-element.selected {
   background-color: #c41c24;
   color: white;
 }
 
 #install-instructions {
   padding-top: 50px;
 }
